*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: bolder;
}

html {
  font-size: 63.5%;
  font-weight: 350;
}

body {
  box-sizing: border-box;
}

.shop {
  width: 550px;
  margin-left: 365px;
}

.shop-page {
  display: flex;
  &__icon {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: right;
    & img {
      width: 50%;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: left;

    font-size: 35px;
  }
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;

  border: 0.5px solid black;
}

.shop-form {
  display: flex;
  flex-direction: column;

  margin: 0 auto;

  border: 1px solid black;

  font-size: 16px;
  & label {
    font-weight: 700;
  }
  & option {
    text-align: center;
  }
  &__btn {
    padding: 15px;
  }
}
.btn {
  margin: 0 2px;
  padding: 6px;

  border: none;
  border-radius: 3px;
  background-color: rgb(179, 179, 179);
  box-shadow: 0 3px 10px rgba(51, 51, 51, 0.541);

  font-weight: 300;
  &:hover {
    color: white;
    background-color: rgb(109, 157, 109);
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
  }
  // &.btn--showMore,
  // &.btn--showLess {
  //   display: none;
  // }
}

.results {
  display: flex;
  flex-direction: column;

  width: 100%;
  &__totalEntries {
    display: block;

    margin: 15px 0 5px 0;

    text-align: center;

    font-size: 26px;
  }
  &__cards {
    margin-top: 10px;
  }

  .card {
    display: flex;

    width: 100%;
    height: 150px;
    padding: 15px;
    // align-items: center;
    // justify-content: center;

    border: 1px solid black;
    border-radius: 5px;
    background-color: #f3f3f3;
    &:hover {
      box-shadow: 0 3px 10px rgba(92, 92, 92, 0.452);
    }
    &:not(:first-child) {
      margin-top: 3px;
    }
    &__images {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100px;
      padding: 10px;
    }
    &__img {
      z-index: 100;

      max-width: 100px;

      transition: 0.7s ease-out;

      border: 3px solid rgb(166, 166, 166);
      &:hover {
        transform: scale(2);
      }
    }
    &__info {
      display: flex;
      // align-items: center;
      flex-direction: column;
      justify-content: space-between;

      width: 100%;
      margin-left: 10px;
    }
    &__content {
      position: relative;

      display: inline;
      // display: flex;
      overflow: hidden;
      align-items: center;

      width: 400px;

      white-space: nowrap;
      text-overflow: ellipsis;
      // justify-content: left;
    }
    &__redirect {
      position: absolute;

      width: 10px;
    }
    &__topRate {
      position: absolute;

      width: 10px;
    }
  }
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 700px;
  margin: 0 auto;

  &__title {
    font-size: 30px;
  }
  & img {
    max-width: 200px;
  }
  &__body {
    width: 100%;
    margin-top: 10px;

    outline: 2px solid rgb(204, 204, 204);
  }
  &__row {
    display: flex;

    width: 100%;

    &--key {
      display: flex;
      align-items: center;
      flex: 1;

      max-width: 240px;
      padding: 10px;

      outline: 1px solid rgb(204, 204, 204);

      font-size: 20px;
      font-weight: 900;
    }
    &--value {
      display: flex;
      align-items: center;
      flex: 2;

      max-width: 460px;
      padding: 10px;

      outline: 1px solid rgb(204, 204, 204);

      font-weight: 500;
    }
  }
}

.hidden {
  display: none;
}

.show > :nth-child(n + 4) {
  display: none;
}
